#regDialogue {
    width: 100%;
    height: 100%;
    margin: 0;
}

#regHead {
    background-color: darkolivegreen;
}

#regHead > h4 {
    color: white;
}

#regX {
    background-color:darkolivegreen;
}

.regButton {
    margin: 1rem;
    margin-left: 0;
}